.mainPage {
  background-color: #81b769;
  padding-top: 195px;
  padding-bottom: 170px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.inner {
  max-width: 1674px;
}

.cloud {
  position: absolute;
  right: calc(50% + 554px);
  top: 263px;
  @media (max-width: 1919px) {
    left: 3.38%;
  }
}

.flowers {
  position: absolute;
  left: calc(50% + 590px);
  top: 400px;
}

.hearts {
  position: absolute;
  right: calc(50% + 358px);
  top: 490px;
}

.product {
  position: absolute;
  left: calc(50% + 484px);
  top: 315px;
}

.star {
  position: absolute;
  left: calc(50% + 447px);
  top: 605px;
}

.buttons {
  gap: 24px;
  display: inline-flex;
}
